*.pyc
*.swo
*.swn
*.swp
*/\.ropeproject/*
.ropeproject
devops_env/
logs/*
.idea/
develop.py
.vscode/
celerybeat-schedule*
celerybeat.pid
tags
Makefile
local_settings.py
.DS_Store
my_local_urls.py
dist/*
*/jenkinsViewXml/*.xml
sonar-project.properties
.scannerwork/*
uploads
*.egg-info
common/test.noahgrouptest*
common/i.noahgroup*
common/token.txt*
release-version
*.csv
*.json